html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#app {
  display: flex;
  height: 100%;
  min-height: 100%;
  align-items: stretch;
}

.ControlRow {
  margin: 10px 0px;
}

.Spacer {
  height: 50px;
}

.matrix {
  display: flex;
  margin: 1em;
}

.left {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 10px;
}

.right {
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 10px;
}
.MatrixTable {
  padding: 10px 0px;
}

.ControlPanel {
  padding: 2em;
}
